/* Reset
------------------------------------------------------------ */
* {
	margin: 0;
	padding: 0;
}
html {
	overflow-y: scroll;
}
body {
	background: #212931;
	font-size: 12px;
	color: #f6f7e7;
	font-family: Arial, helvetica, sans-serif;
}
ol, ul {
	list-style: none;
	margin: 0;
}
ul li {
	margin: 0;
	padding: 0;
}
h1 {
	margin-bottom: 10px;
	color: #2cb2ff;
}
a, img {
	outline: none;
	border: none;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
}
p {
	margin: 0 0 10px;
	line-height: 1.4em;
	font-size: 1.2em;
}
img {
	display: block;
	margin-bottom: 10px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

/* Structure */
#container {
	width: 96%;
	max-width: 960px;
	margin: 0 auto;
	padding: 15px 10px;
}
#main {
	width: 60%;
	margin-right: 5%;
	float: left;
}
aside {
	width: 35%;
	float: right;
}
.white-font {
	color: #f6f7e7;
}

.phone {
    font-weight: normal;
    text-align: right;
    font-size: 12px;
    float: right;
}

.row {
    width: 960px;
    max-width: 100%;
    min-width: 640px;
    margin: 0px auto 25px;
    text-transform: none;
    text-decoration: none;
}

.calendar-event{
	color:#FFF;
	text-decoration:none;
}

.calendar-event:hover{
	color:#2cb2ff;
}

.inner-elements{
	margin: 10px;
}

.one{
	max-width:960px;
	background:none repeat scroll 0% 0% #1f2127;
	padding:5px 25px;
	margin-bottom:4px;
	margin-top: 10px;
	white-space: normal;
}

.event-details{
	font-size:13px;
	font-weight:normal;
	margin-top:-9px;
}

.day{
	font-size:13px;
	font-weight:bold;
}

#white-banner {
	background: none repeat scroll 0% 0% #FFF;
	width: 100%;
	height: 30px;
}

.no-upper{
	text-transform: none;
}

.month{
	margin-bottom: 10px;
	font-weight: 800;
	letter-spacing: 2px;
	font-size: 20px;
}

.staff{
	margin-bottom: 10px;
	font-weight: 800;
	letter-spacing: 2px;
	font-size: 20px;
	float:left;
		display: block;
		text-align: center;
}

.staff-elements{
	width: 100%;
	float: left;
	width: 223px;
}

/* Logo H1 */
header h1 {
	float: left;
	display: block;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 16px;
}

/* Nav */
header nav {
	float: right;
	margin-top: 3px;
}
header nav li {
	display: inline;
	margin-left: 25px;
}
header nav li a:hover {
	color: #2cb2ff;
}

h2{
	margin-top: 12px;
	font-size: 28px;
	font-weight: 800;
	letter-spacing: 2px;
}

.info{
	color: #2CB2FF;
	font-size: 11px;
	font-weight: normal;
	margin-top: -6px;
	float: left;
	margin-right: 20px;
	
	text-transform: none;
	padding-right: 10px;
}

.info:hover{
	color:#FFF;
}
#skipTo {
	display: none;
}
#skipTo li {
	background: #b1fffc;
}

/* Banner */
#banner {
	float: left;
	margin-top: 5px;
	margin-bottom: 10px;
	width: 100%;
}
#banner img {
	width: 100%;
}

/* Media Queries */
@media screen and (max-width:480px) {
	#skipTo {
		display: block;
	}
	header nav, #main, aside {
		float: left;
		clear: left;
		margin: 0 0 10px;
		width: 100%;
	}
	header nav li {
		margin: 0;
		background: #1f2126;
		display: block;
		margin-bottom: 3px;
	}
	header nav a {
		display: block;
		padding: 10px;
		text-align: center;
	}


}